# LaTeX temporary files
*.aux
*.log
*.toc

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Texpad Stuff
.texpadtmp

# SVG Stuff
Fig.1.tex
*/*.pdf
*/*.pdf_tex
